body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}
.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3 {
  color: #0056b3;
}
.header {
  text-align: center;
  margin-bottom: 40px;
}
.header h1 {
  margin: 0;
}
.contact-info {
  text-align: center;
  margin-bottom: 20px;
}
.contact-info p {
  margin: 5px 0;
}
.section {
  margin-bottom: 30px;
}
.section h2 {
  border-bottom: 2px solid #0056b3;
  padding-bottom: 5px;
}
.section ul {
  list-style-type: none;
  padding: 0;
}
.section ul li {
  margin: 10px 0;
}
.skills li,
.education li {
  margin: 5px 0;
}

.highlight {
  background-color: yellow;
}

/* .some-random-class {
  background-color: pink;
} */